<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>World-cup-visual</title>

    <!-- D3.js -->

    <script src="{{
  url_for('static', filename='js/d3.min.js') }}"></script>

    <script src="{{
  url_for('static', filename='js/d3pie.min.js') }}"></script>
    
    <script src="{{
  url_for('static', filename='js/jquery-1.9.0.js') }}"></script>
    
   <script src="{{
  url_for('static', filename='js/topojson.min.js') }}"></script>
    
    
    <script src="{{
  url_for('static', filename='js/datamaps.world.min.js') }}"></script>
    
    
     
     
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <!-- Month names -->



</head>

<body>
    
 
    <div id="chart"style="position: absolute;"></div>

    <div id="container" style="position: absolute;top: 260px; left:260px"></div>

    
    <script>
        ////////////////////////////////////////////////////////////
        //////////////////////// Set-up ////////////////////////////
        ////////////////////////////////////////////////////////////

        var screenWidth = window.innerWidth;
        
        ////////////////////////////////////////////////////////////// 
        ///////////////////// MAP            ///////////////////////// 
        ////////////////////////////////////////////////////////////// 

         var basic_choropleth = new Datamap({
          element: document.getElementById("chart"),
          projection: 'mercator',

          fills: {
              defaultFill: "#ABDDA4",
              authorHasTraveledTo: "#fa0fa0"
          },
          data: {
              USA: {
                  fillKey: "authorHasTraveledTo"
              },
              JPN: {
                  fillKey: "authorHasTraveledTo"
              },
              ITA: {
                  fillKey: "authorHasTraveledTo"
              },
              CRI: {
                  fillKey: "authorHasTraveledTo"
              },
              KOR: {
                  fillKey: "authorHasTraveledTo"
              },
              DEU: {
                  fillKey: "authorHasTraveledTo"
              },
          }
      });
         var colors = d3.scale.category10();

    window.setInterval(function () {
        basic_choropleth.updateChoropleth({
            USA: colors(Math.random() * 10),
            RUS: colors(Math.random() * 100),
            AUS: {
                fillKey: 'authorHasTraveledTo'
            },
            BRA: colors(Math.random() * 50),
            CAN: colors(Math.random() * 50),
            ZAF: colors(Math.random() * 50),
            IND: colors(Math.random() * 50),
        });
    }, 2000);
   
        
        
        
        var ellipse_koefX = 1.1
        var ellipse_koefY = 1.0
        var global_arc_koefX = ellipse_koefX  * 1.1
        var global_arc_koefY = ellipse_koefY  * 1.1
        var part_bounces = {"0":[10000, -1], "1":[10000, -1], "2":[10000, -1], "3":[10000, -1]}
        var arcOut = {firstLoc:"",
                       radLoc :"",
                       secLoc:"",
                       firstSmallLoc:"",
                       secSmallLoc:"",
                       radSmallLoc :""  } 
        
        var cur_index = 0   
        var ajax = null
        var flag_response = 1
        var last_click = new Date().getTime()
        
        var out_arcs = [] 
        var margin = {
                left: 0,
                top: 0,
                right: 0,
                bottom: 0
            },
            width = Math.min(screenWidth, 1000) - margin.left - margin.right,
            height = Math.min(screenWidth, 1000) - margin.top - margin.bottom;
        var outerRadius = width * 0.5 - 120
        var svg = d3.select("#chart").append("svg")
            .attr("width", (width + margin.left + margin.right))
            .attr("height", (height + margin.top + margin.bottom))
            .attr("color", "#debcd1")
            .append("g").attr("class", "wrapper")
            .attr("transform", "translate(" + (width / 2 + margin.left) + "," + (height / 2 + margin.top) + ")");

        function getEllipseCoords(coorX, coorY, koefX, koefY, radius) {
            //console.log(Math.sqrt(ellipse_koef * ellipse_koef * coorY * coorY +  coorX * coorX ))
            //console.log(ellipse_koef * coorX)
            newX = radius * koefY * coorX * koefX / Math.sqrt (koefY * koefY * coorX * coorX + coorY * coorY * koefX * koefX);
            //newX = koefX * coorX / (Math.sqrt(koefX * koefX * coorY * coorY + coorX * coorX)) * radius;
            newY = newX * coorY / coorX;
            return [newX, newY]
        }

             
        //Create a color scale
        var colorScale = d3.scale.linear()
            .domain([1, 3.5, 6])
            .range(["#2c7bb6", "#ffffbf", "#d7191c"])
            .interpolate(d3.interpolateHcl);

        //Create an arc function   
        var arc = d3.svg.arc()
            .innerRadius(width * 0.5 - 210)
            .outerRadius(outerRadius);

        //Turn the pie chart 90 degrees counter clockwise, so it starts at the left	
        var pie = d3.layout.pie()
            .startAngle(-180 * Math.PI / 180)
            .endAngle(-180 * Math.PI / 180 + 2 * Math.PI)
            .value(function(d) {
                return d.value;
            })
            .padAngle(.01)
            .sort(null);
   
        
        
        ////////////////////////////////////////////////////////////// 
        ///////////////////// Data &  Scales ///////////////////////// 
        ////////////////////////////////////////////////////////////// 

        //Some random data
           var donutData = [
            {% for d in teams %} {
                "name": "{{d['name']}}",
                "value": {{d['value']}},
                "color": "{{d['color']}}",
                "id_group": "{{d['id_group']}}"         
            },
             {% endfor %}
             {
                "name": "",
                "value": {{space}},
                "color":"none",
                "id_group":-1      
            },     
            {% for d in rounds %} {
                "name": "{{d['name']}}",
                "value": {{d['value']}},
                "color": "{{d['color']}}",
                "id_group": "{{d['id_group']}}"            
            },
             {% endfor %}
             {
                "name": "",
                "value": {{space}},
                "color":"none",
                "id_group":-1     
            }, 
             {% for d in places %} {
                "name": "{{d['name']}}",
                "value": {{d['value']}},
                "color": "{{d['color']}}" ,
                "id_group": "{{d['id_group']}}"
                    
            },
             {% endfor %}      
              {
                "name": "",
                "value": {{space}},
                "color":"none",
                "id_group":-1     
            },
            {% for d in stages %} {
                "name": "{{d['title']}}",
                "value": {{d['value']}},
                "color": "{{d['color']}}" ,
                "id_group": "{{d['id_group']}}"            
            },
            {% endfor %}    
            {
                "name": "",
                "value": {{space}},
                "color":"none",
                "id_group":-1     
            }, 
        
        ];  
             
        
        var outArcsData = [
            {% for d in outGroups %} {
                "name": "{{d['name']}}",
                 "color": "{{d['color']}}"
                    
            },
            {% endfor %} 
        ]
                
             
         
        function sleep(milliseconds) {
          var start = new Date().getTime();
          for (var i = 0; i < 1e7; i++) {
          if ((new Date().getTime() - start) > milliseconds){
              break;
            }
         }
       }     
        //дял каждой части находим первый и последний кусочек     
        function getPartBounces() {
            for (i = 0; i < donutData.length; i++) {
                cur_group = donutData[i]["id_group"];
                if(cur_group == -1) {
                    continue;
                }
                cur_group_left = part_bounces[cur_group][0]
                cur_group_right = part_bounces[cur_group][1]
                if (i <  cur_group_left) {
                    part_bounces[cur_group][0] = i              
                }   
                if (i > cur_group_right) {
                    part_bounces[cur_group][1] = i              
                }   
            }
        }
             
        function sendIndexToPython(index) {     
        var qurl="/";
        
       
        
        $.ajax({
            type: "POST",
            cache: false,
            url:qurl,
            //timeout: 2000, 
            data:{"index":index},
            dataType: "json",
            success: function(response) { 
                console.log(index + ": " + response[index]);
                console.log( "res: " + response["res"]);
                if (response[index] === null) {
                   console.log("nothing found");
                } else {
                    if (index == cur_index) { 
                        setClicked(response[index]);
                        addTextInCentre(response["res"]) 
                    }
                }
                flag_response = 1
            },
            error: function(error) {
                console.log(error);
                flag_response = 1
            }
        })
           
        }
             
        function kill_ajax() {
            ajax.abort()    
        }     
             
        function restore_colors() {
            for (i  = 0; i < donutData.length; i++) {
                d3.select("#ArcEllipse"+i).style("fill", donutData[i]["color"]); 
                  
            }
            
        }
             
           
                
        function restore_colors_outArcs() {
            for (i  = 0; i < outArcsData.length; i++) {
                d3.select("#outArc"+i).style("fill", outArcsData[i]["color"]); 
                  
            }
            
        }
          
             
             
        function setClicked(Array) {
            for (i  = 0; i < Array.length; i++) {
                d3.select("#ArcEllipse"+Array[i]).style("fill", "#debcd1"); 
                  
            }
            
        }
             
        function addTextInCentre(Array) {
            for (i  = 0; i < Array.length; i++) {
                d3.select("#donutTextCentre"+i).empty()
                svg.selectAll(".TextCentre")
                   .data(pie(donutData))
                   .enter().append("text")
                   .attr("class", "donutTextCentre" + i) 
                   .style("font-size", "20px") 
                   .attr("text-anchor", "middle")
                   .text(Array[i])
                   .attr("dy", -10 + i * 4 + "em") 
            }
            
        }
             
             
            
        getPartBounces();
        console.log(part_bounces)
             
             
        ////////////////////////////////////////////////////////////// 
        //////////////////// Create Donut Chart ////////////////////// 
        ////////////////////////////////////////////////////////////// 

        //Create the donut slices and also the invisible arcs for the text 
        svg.selectAll(".donutArcs")
            .data(pie(donutData))
            .enter().append("path")
            .attr("class", "donutArcs")
            .attr("d", arc)
            .style("fill", function(d, i) {
                return "none";

            })
            .each(function(d, i) {
                //Search pattern for everything between the start and the first capital L
                var firstArcSection = /(^.+?)L/;
                var lastArcSection = /L(.*?)Z/;
                //console.log((width / 2 + margin.left))


                
                //между М и A -->  преобразуем
                //между A и 0 0, 1 по X увеличивам на K
                //между 0 0,1 и L  преобразуем
                
            
                //M -1.2879629948845253, 221.49625538894287       //первая точка на внешнем радиусе
                //A 221.5, 221.5                                  //внешний радиус
                //0 0,1 -14.203496816146563, 221.04413739837958   //вторая точка на внешнем радиусе
                //L -7.9099938637859095, 131.26188326043044       //первая точка на внутреннем радиусе   
                //A 131.5, 131.5                                  //внутренний радиус
                //0 0,0 -1.2879629948845304, 131.49369243930983Z  //вторая точка на внутреннем радиусе
                var firstDotEx = /M(.*?)A/;
                var radEll = /A(.*?)0 0,1/;
                var secondDotEx = /0 0,1(.*?)L/;
                var firstSmallDotEx  = /L(.*?)A/;
                var radSmallElEx = /A(.*?)0 0,0/
                var secondSmallDotEx = /0 0,0(.*?)Z/;    
                  
     
                //newArc = "M" + newStart + "A" + middleSec + "0 0 0 " + newEnd;
            
            
            
                
                firstLoc = firstDotEx.exec(d3.select(this).attr("d"))[1]
                radLoc = radEll.exec(d3.select(this).attr("d"))[1]
                secLoc = secondDotEx.exec(d3.select(this).attr("d"))[1]

                firstSmallLoc = firstSmallDotEx.exec(d3.select(this).attr("d"))[1]
                secSmallLoc = secondSmallDotEx.exec(d3.select(this).attr("d"))[1]
                radSmallLoc = radSmallElEx.exec(d3.select(this).attr("d"))[1]
            
                var first = firstLoc.split(",");
                newFirst = getEllipseCoords(parseFloat(first[0]), parseFloat(first[1]), ellipse_koefX, ellipse_koefY, outerRadius  ).join(",")

                var second = secLoc.split(",");
                newLast = getEllipseCoords(parseFloat(second[0]), parseFloat(second[1]), ellipse_koefX, ellipse_koefY, outerRadius ).join(",")
                var rad = radLoc.split(",")
                newRad = [rad[0] * ellipse_koefX,  rad[1] * ellipse_koefY].join(",")
                FirstPath = "M" + newFirst + "A" + newRad + " 0 0, 1" + newLast 
                ellipseArc = FirstPath + "L" + firstSmallLoc + "A" + radSmallLoc + "0 0,0" + secSmallLoc + "Z"
               
                            
                if(donutData[i]["id_group"]  != 0) {                      
                    textArc = "M" +  newLast + "L" + firstSmallLoc + "Z"			
                }
                else {
                    textArc = "M" + secSmallLoc + "L" + newFirst + "Z"
                }
                
                  
                newFirstOut = getEllipseCoords(parseFloat(first[0]), parseFloat(first[1]), global_arc_koefX, global_arc_koefY, outerRadius).join(",")
                newSecOut = getEllipseCoords(parseFloat(second[0]), parseFloat(second[1]), global_arc_koefX, global_arc_koefY, outerRadius).join(",")
                newRadOut = [global_arc_koefX * rad[0],  global_arc_koefY * rad[1]].join(",")
            
                //если текущий кусок самый крайний в группе
                cur_group = donutData[i]["id_group"]
            
                if (cur_group != -1) {
                    if (part_bounces[cur_group][0] == i) {
                        var a = Object.assign({}, arcOut)
                        
                        a["firstLoc"] = newFirstOut
                        a["radLoc"] = newRadOut
                        a["firstSmallLoc"] = newFirst
                        a["radSmallLoc"] = newRad 
                        out_arcs.push(a)
                    }
                
                    if (part_bounces[cur_group][1] == i) {
                        //console.log("part " + i) 
                        //console.log("sec out before " + newSecOut)  
                        out_arcs[cur_group]["secLoc"] = newSecOut
                        out_arcs[cur_group]["secSmallLoc"] = newLast
                    }
            }
            
            
            
                
			svg.append("path")
				.attr("class", "hiddenDonutArcs")
				.attr("id", "donutArc"+i)
				.attr("d", textArc)
				.style("fill", "none");
			
			svg.append("path")
				.attr("class", "ellipse")
				.attr("id", "ArcEllipse"+i)
				.attr("d", ellipseArc)
                .style("fill", donutData[i]["color"])
                
                .on("mouseover", function() {
                     restore_colors()
                     d3.select(this).style("fill", "#debcd1");
                     cur_index = i
                     flag_response = 0
                     x = new Date().getTime() - last_click
                     sendIndexToPython(i);
                     last_click = new Date().getTime();  
                     console.log("last click " + last_click.toLocaleString() + " index " + i );
                      
                         
                     console.log("over slice " + i);
                     
                })
                .on("mouseout", function(d, i) {
                     cur_index = -1
                     //kill_ajax()
                     //flag_unclicked = 1
                     console.log("out slice " + i);
                     restore_colors()  
                     //d3.select(this).style("fill", donutData[i]["color"]);
                });
        });
             
       
             
        for (i = 0; i < out_arcs.length; i++) {
            for (j = 0; j < Object.values(out_arcs[i]).length; j++) {
                console.log("values " +  Object.keys(out_arcs[i])[j] + ":" + Object.values(out_arcs[i])[j])    
            }
            
            pathOutArc =  "M" + out_arcs[i]["firstLoc"]
                              + "A" + out_arcs[i]["radLoc"] 
                              + " 0 0, 1" + out_arcs[i]["secLoc"]
                              + "L" + out_arcs[i]["secSmallLoc"] 
                              + "A" + out_arcs[i]["radSmallLoc"] 
                              + " 0 0,0" + out_arcs[i]["firstSmallLoc"]  + "Z"
            //M-2.390088167315485,379.99478018943495
            //A456,380 0 0, 1
            //L-2.3900819267657423,379.9937880183677A380,380 0 0,0Z    
            pathText = "M" + out_arcs[i]["firstSmallLoc"]
                       + "A" + out_arcs[i]["radSmallLoc"] 
                       + " 0 0,1" + out_arcs[i]["secSmallLoc"]   + "Z"
            
           
            
            console.log("new path " + pathText)         
            svg.append("path")
				.attr("class", "outArc")
				.attr("id", "outArc"+i)
				.attr("d", pathOutArc)
                .style("fill", outArcsData[i]["color"])
                .on("mouseover", function() {
                     restore_colors_outArcs();
                     d3.select(this).style("fill", "#debcd1");
                })
                .on("mouseout", function() {
                     restore_colors_outArcs();
                });
            
            
            svg.append("path")
				.attr("class", "outArcPath")
				.attr("id", "outArcPath"+i)
				.attr("d", pathText)
                .style("fill", "none")
                
                  
            svg.append("text")
               .style("font-size", "16px")
               .append("textPath")
			   .attr("startOffset", "25%")
               .attr("id", "outArcText"+i)
               .attr("xlink:href", "#outArcPath"+i)
               .text(outArcsData[i]["name"])
               .style("font-weight", "bold")
               .style("fill", "#black")
        }
        
               
             
             
        //Append the label names on the outside
        svg.selectAll(".donutText")
            .data(pie(donutData))
            .enter().append("text")
            .style("font-size", "16px")
            .style("font-family","octin")
            .attr("class", "donutText")
            .attr("pointer-events", "none")  
            .append("textPath")
            .attr("startOffset", "50%")
         
            .attr("href", function(d, i) {
                return "#donutArc" + i;
            })
             
            //.attr("xlink:href",function(d) {return d.data.image;})
            .text(function(d, i) {
                return d.data.name;
            });

    </script>

</body>

</html>
